@using System.Diagnostics.Eventing.Reader
@using Microsoft.IdentityModel.Tokens
<h3>Таблица пользователей</h3>


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <td class="text-danger">
                    Фамилия
                </td>
                <td class="text-danger">
                    Имя
                </td>
                <td class="text-danger">
                    Отчество
                </td>
                <td class="text-danger">
                    Должность
                </td>
            </tr>
        </thead>
        <tbody>
            @if (_users == null)
            {
                <tr>Загрузка...</tr>
            }
            else if (_users.Count == 0)
            {
                <tr>Нет записей!</tr>
            }
            else
            {
                @foreach (User user in _users)
                {
                    <tr>
                        <td>
                            @user.Lastname
                        </td>
                        <td>
                            @user.Firstname
                        </td>
                        <td>
                            @user.Middlename
                        </td>
                        <td>
                            @user.Position
                        </td>
                        <td>
                            <button class="btn btn-secondary">Просмотреть курсы</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@code {
    private readonly SkoContext _context = new SkoContext();

    private List<User> _users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        _users = _context.Users.ToList();
    }
}
